<script id="question_template" type="x-handlebars-template">
  {{#question}}
  <li class="question">
    <div class="vote_action">
      <a href="/questions/{{id}}/upvote" class= "vote"><%= image_tag "upvote.jpg"%></a>

      <a href="/questions/{{id}}/downvote" class ="vote"><%= image_tag "downvote.jpeg"%></a>
    </div>

    <div class="vote_count">

    </div>

    <div class="question_title">
        <a href="/questions/{{id}}">{{title}}</a>
    </div>

    <div class="question_content">
        {{content}}
    </div>
  </li>

  {{/question}}
</script>
