// Place all the styles related to the Question controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.questions {
  margin: 0 auto;
}

div {
  ul li {
  list-style-type: none;
  padding: 20px;
  clear: both;
  }
}

.vote_count {
  padding-left: 20px;
}

.vote_action {
  float: left;
  width: 3.5em;
  a {
    display: block;
  }
}

.beer-cup {
  margin: 0;
  padding: 0;
}

.question {
  clear: both;
}

.question_title {
  font-size: 2.5em;
  line-height: 1.5em;
}

.question_content {
  font-size: 1.5em;
}

a.vote img {
  height:50px;
  width:auto;
}

.each_question {
  margin: 0 auto;
  width: 80%;
  border: 1px solid black;
  margin-top: 2em;
  background-color: rgb(211, 137, 61);
  text-align: center;
}